# Entornos virtuales de Python
.venv/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Archivos de entorno y credenciales (Seguridad)
.env
.env.*

# Archivos generados localmente por la aplicación durante las pruebas
*.epub
cuento_descargado.epub
prueba_local.epub
/tmp/

# Directorios de distribución y empaquetado
build/
dist/
*.egg-info/

# Archivos de sistema operativo y configuraciones de editores de código
.DS_Store
.vscode/