# Entornos virtuales de Python
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos compilados y cache de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Archivos de entorno y credenciales (Seguridad)
.env
.env.*

# Archivos generados localmente por la aplicación (EPUBs y temporales)
*.epub
*.mobi
*.azw3
/tmp/
*.log

# Directorios de distribucion y empaquetado (PyInstaller)
build/
dist/
*.spec
*.egg-info/
.eggs/

# Configuraciones de editores de codigo y SO
.DS_Store
Thumbs.db
.vscode/
.idea/